<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>La Parroquía Café</title>
<!-- 
Cafe House Template
http://www.templatemo.com/tm-466-cafe-house
-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/templatemo-style.css" rel="stylesheet">
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <!-- Preloader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Preloader -->
    <div class="tm-top-header">
      <div class="container">
        <div class="row">
          <div class="tm-top-header-inner">
            <div class="tm-logo-container">
              <img src="img/logo.png" alt="Logo" class="tm-site-logo">
              <h1 class="tm-site-name tm-handwriting-font">La Parroquía Café</h1>
            </div>
            <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
              <ul>
                <li><a href="index.html" class="active">Inicio</a></li>
                <li><a href="today-special.html">Especial del Día</a></li>
                <li><a href="menu.html">Menú</a></li>
                <li><a href="contact.html">Contacto</a></li>
              </ul>
            </nav>   
          </div>           
        </div>    
      </div>
    </div>
    <section class="tm-welcome-section">
      <div class="container tm-position-relative">      
        <div class="row tm-welcome-content">
          <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="img/header-line.png" alt="Line" class="tm-header-line">&nbsp;Bienvenido&nbsp;&nbsp;<img src="img/header-line.png" alt="Line" class="tm-header-line"></h2>
          <h2 class="gold-text tm-welcome-header-2">La Parroquía Café</h2>
          <p class="gray-text tm-welcome-description">El mejor café de especialidad y panadería artesanal en un solo lugar. Conoce nuestra cuidadosa selección de granos y ven a vivir una experiencia de sabor única diseñada para los verdaderos amantes del café.</p>
          <a href="#main" class="tm-more-button tm-more-button-welcome">Ver más...</a>      
        </div>
        <img src="img/lugar.jpg" alt="Table Set" class="tm-table-set img-responsive" style="width: 100%; height: 400px; object-fit: cover; border-radius: 10px;">             
      </div>      
    </section>
    <div class="tm-main-section light-gray-bg">
      <div class="container" id="main">
        <section class="tm-section row">
          <div class="col-lg-9 col-md-9 col-sm-8">
            <h2 class="tm-section-header gold-text tm-handwriting-font">El mejor café de la región</h2>
            <h2>La Parroquía Café</h2>
            <p class="tm-welcome-description">Disfruta del auténtico sabor tradicional en cada taza. Seleccionamos cuidadosamente los mejores granos para ofrecerte un café de especialidad inigualable. Acompaña tu visita con nuestra panadería artesanal en un ambiente acogedor y familiar.</p>
            <a href="#" class="tm-more-button margin-top-30">Ver menú...</a> 
          </div>
          <div class="col-lg-3 col-md-3 col-sm-4 tm-welcome-img-container">
            <div class="inline-block shadow-img">
              <img src="img/Te.jpg" alt="Image" class="img-circle img-thumbnail">  
            </div>              
          </div>            
        </section>          
        <section class="tm-section tm-section-margin-bottom-0 row">
          <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo"> Lo Más Pedido</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>
          <div class="col-lg-12 tm-popular-items-container">
            <div class="tm-popular-item">
              <img src="img/Americano.jpg" alt="Popular" class="tm-popular-item-img" style="width: 97%; height: 200px; object-fit: cover;">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">a</span>mericano</h3><hr class="tm-popular-item-hr">
                <p>Despierta tus sentidos con nuestro clásico Americano. Una mezcla perfecta de expreso intenso y agua caliente que resalta las notas más puras y fuertes del grano. La opción ideal para empezar tu día con energía y un sabor inconfundible.</p>
                <div class="order-now-container">
                  <a href="https://web.didiglobal.com/mx/food/cordoba-ver/la-parroquia-de-veracruz-plaza-o/5764607588239672435/" target="_blank" rel="noopener" class="order-now-link tm-handwriting-font">Pide ahora</a>
                </div>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src="img/cafe2.jpg" alt="Popular" class="tm-popular-item-img" style="width: 97%; height: 200px; object-fit: cover;">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">c</span>appuccino</h3><hr class="tm-popular-item-hr">
                <p>Disfruta de nuestra cremosa y deliciosa Capuccino. Un equilibrio perfecto entre el expreso intenso y la leche vaporizada, coronado con una generosa capa de espuma. La opción ideal para aquellos que aprecian un sabor rico y suave.</p>
                <div class="order-now-container">
                  <a href="https://web.didiglobal.com/mx/food/cordoba-ver/la-parroquia-de-veracruz-plaza-o/5764607588239672435/" target="_blank" rel="noopener" class="order-now-link tm-handwriting-font">Pide ahora</a>
                </div>
              </div>              
            </div>
            <div class="tm-popular-item">
              <img src="img/Mocha.jpg" alt="Popular" class="tm-popular-item-img" style="width: 97%; height: 200px; object-fit: cover;">
              <div class="tm-popular-item-description">
                <h3 class="tm-handwriting-font tm-popular-item-title"><span class="tm-handwriting-font bigger-first-letter">m</span>ocha</h3><hr class="tm-popular-item-hr">
                <p>Disfruta de nuestra deliciosa Mocha. Una combinación irresistible de expreso intenso, leche vaporizada y chocolate suave, coronada con una generosa capa de espuma. La opción ideal para los amantes del sabor dulce y rico .</p>
                <div class="order-now-container">
                  <a href="https://web.didiglobal.com/mx/food/cordoba-ver/la-parroquia-de-veracruz-plaza-o/5764607588239672435/" target="_blank" rel="noopener" class="order-now-link tm-handwriting-font">Pide ahora</a>
                </div>
              </div>              
            </div>
          </div>          
        </section>
        <section class="tm-section row">
          <div class="col-lg-12 tm-section-header-container">
            <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo"> Especial del Día</h2>
            <div class="tm-hr-container"><hr class="tm-hr"></div>
          </div>          
          <div class="col-lg-12 tm-special-container margin-top-60">
            <div class="tm-special-container-left"> <!-- left -->
              <div class="tm-special-item">
                <div class="tm-special-img-container">
                  <img src="img/special-1.jpg" alt="Special" class="tm-special-img img-responsive">  
                  <a href="#">
                    <div class="tm-special-description">
                      <h3 class="tm-special-title">Late Parroquía</h3>
                      <p>Café con escencia de la región.</p>  
                    </div>            
                  </a>
                </div>
              </div>
            </div>
            <div class="tm-special-container-right"> <!-- right -->
              <div>
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="img/special-2.jpg" alt="Special" class="img-responsive">  
                    <a href="#">
                      <div class="tm-special-description">
                        <h3 class="tm-special-title">Concha con nata.</h3>
                        <p>Deliciosa concha rellena de nata.</p>
                      </div>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="tm-special-container-lower">
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="img/special-3.jpg" alt="Special" class="img-responsive">  
                    <a href="#">
                      <div class="tm-special-description">
                        <h3 class="tm-special-title">Té helado</h3>
                        <p>Refrescate con nuestro té helado.</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="tm-special-item">
                  <div class="tm-special-img-container">
                    <img src="img/special-4.jpg" alt="Special" class="img-responsive">  
                    <a href="#">
                      <div class="tm-special-description">
                        <h3 class="tm-special-title">Risotto</h3>
                        <p>Disfruta de nuestro risotto artesanal.</p>
                      </div>
                    </a>
                  </div>
                </div>  
              </div>              
            </div>
          </div>
        </section>
        <section class="tm-section">
          <div class="row">
            <div class="col-lg-12 tm-section-header-container">
              <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="img/logo.png" alt="Logo" class="tm-site-logo"> Menú del Día</h2> 
              <div class="tm-hr-container"><hr class="tm-hr"></div> 
            </div>  
          </div>          
          <div class="row">
            <div class="tm-daily-menu-container margin-top-60">
              <div class="col-lg-4 col-md-4">
                <img src="img/menu-board.png" alt="Menu board" class="tm-daily-menu-img">      
              </div>            
              <div class="col-lg-8 col-md-8">
                <p>Descubre las delicias que nuestro chef ha preparado para ti hoy. Nuestro "Menú del Día" está diseñado para ofrecerte una comida reconfortante y deliciosa, elaborada siempre con ingredientes frescos y de la más alta calidad. Déjate sorprender por nuestra selección de hoy:</p>
                <ol class="margin-top-30">
                  <li>Sopa del día: Tradicional sopa cremosa de poro y papa.</li> 
                  <li>Opción ligera: Panini de atún tostado a la perfección.</li>
                  <li>Pasta clásica: Espagueti con tomate, berenjena, tomates cherry, albahaca y mozzarella fresca.</li> 
                  <li>Del mar: Tilapia con costra de papa, servida en salsa de vino blanco y albahaca.</li> 
                  <li>Especialidad: Risotto con salchicha italiana y chícharos en una exquisita salsa de azafrán.</li> 
                  <li>Acompañamiento: Incluye tu elección de bebida de la casa o café americano.</li> 
                </ol>
                <a href="menu.html" class="tm-more-button margin-top-30">VER MENÚ</a>    
              </div>
            </div>
          </div>          
        </section>
      </div>
    </div> 
    <footer>
      <div class="tm-black-bg">
        <div class="container">
          <div class="row margin-bottom-60">
            <nav class="col-lg-3 col-md-3 tm-footer-nav tm-footer-div">
              <h3 class="tm-footer-div-title">Menú Principal</h3>
              <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Directorio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Nuestros Servicios</a></li>
              </ul>
            </nav>
            <div class="col-lg-5 col-md-5 tm-footer-div">
              <h3 class="tm-footer-div-title">Sobre Nosotros</h3>
              <p class="margin-top-15">En La Parroquía Café nos apasiona el buen café. Tostamos y seleccionamos granos de origen para ofrecerte una taza con carácter, acompañada siempre de panadería artesanal recién horneada.</p>
              <p class="margin-top-15">Somos un espacio pensado para disfrutar, trabajar o reunirte con quienes quieres, con un servicio cercano y un ambiente cálido que te hará sentir como en casa.</p>
            </div>
            <div class="col-lg-4 col-md-4 tm-footer-div">
              <h3 class="tm-footer-div-title">Síguenos</h3>
              <p>Entérate de nuestras promociones, nuevos productos y eventos especiales siguiéndonos en nuestras redes sociales.</p>
              <div class="tm-social-icons-container">
                <a href="https://www.facebook.com/laparroquiadeveracruzpuebla/?locale=es_LA" class="tm-social-icon"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </div>          
        </div>  
      </div>      
      <div>
        <div class="container">
          <div class="row tm-copyright">
           <p class="col-lg-12 small copyright-text text-center">Copyright &copy; 2026 La Parroquía Café. Todos los derechos reservados.</p>
         </div>  
       </div>
     </div>
   </footer> <!-- Footer content-->  
   <!-- JS -->
   <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>      <!-- jQuery -->
   <script type="text/javascript" src="js/templatemo-script.js"></script>      <!-- Templatemo Script -->

 </body>
 </html>